.firstSection{
    display: flex;
    justify-content: space-around;
    margin-top: 220px;
    margin-bottom: 95px;
  }
  .firstSection div{
    width: 30%;
  }
  .leftSection{
    position: relative;
    height: 50vh;
    /* width: 50rem; */
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  .rightSection img{
   position: absolute;
   border: none;
   top: 12rem;
   object-fit: cover;
   margin-right: 90px;
   height: 50vh;
   background-repeat: no-repeat;
  }